{% extends 'base.html.twig' %}

{% block title %} Connectez-vous{% endblock %}
{% block navbar %} {% endblock %}

{% block body %}


    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black"> Connexion </h3>
                    <hr class="login-hr">
                    <div class="box">
                        <figure class="avatar has-text-centered">
                            <img class="image is-inline-block" id="logo1" src="{{ asset('img/logo.gif') }}">
                        </figure>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger"> Erreur : vos identifiants ne sont pas reconnus </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.email }} -- <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="field">
                                <div class="control">
                                    <input name="email" id="inputEmail" class="form-control input is-normal" type="text" placeholder="Entrez votre email @la-csf.org" value="{{ last_username }}"  >
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input type="password" name="password" id="inputPassword" class="form-control input is-normal" placeholder="Entrez votre mot de passe" autocomplete="current-password">
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {# <div class="field">
                                <label class="checkbox" >
                                    <input type="checkbox" name="_remember_me"> &nbsp; Se souvenir de moi
                                </label>
                            </div>#}
                            <button class="button is-block is-info is-large is-fullwidth" type="submit">Se connecter</button>&nbsp;

                           <button class="button is-small" id="btnaidemini" ><a href="{{ path('miniaide') }}" id="lien_aidemini">Aide à la connexion</a></button>
                            <style>#btnaidemini  {background-color: #adadad}</style><style>#lien_aidemini  {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        {#                            <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a> &nbsp;·&nbsp; #}
                    </p>
                </div>
            </div>
        </div>
    </section>
     <script async type="text/javascript" src="../js/bulma.js"></script>
    </body>

{% endblock %}
