{% extends 'base.html.twig' %}

{% block couleur %}
  bgviolet
{% endblock %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        <h1 class="title txtviolet">Actions en justice</h1>
                        <hr class="login-hr">
                        <div class="field">
                            {{ form_start(formActionJustice) }}
                            Nombre de jours de permanence par an : {{ form_row(formActionJustice.nbActionConjointe) }}<br>
                            Nombre d’heures de permanences par an :  {{ form_row(formActionJustice.nbAccompagnement) }}<br>
                            <button type="submit" class="btn bgviolet">Suivant</button>
                            {{ form_end(formActionJustice) }}
                            <a href="{{ path('formulaire_representation',{'idLieu': idLieu} ) }}"><button class="btn bgviolet" id="lien_precedent">Précedent</button></a>
                            <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </div>




{% endblock %}
