{% extends 'base.html.twig' %}

{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}
    <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title txtbleu">Ateliers <button type="button" class="btn bgbleu" data-bs-toggle="modal" data-bs-target="#exampleModal">Aide</button></h1>
                <hr class="login-hr">
                <div class="row">
                    <div class="column is-6">
                        <div class="box" style="height: 450px; padding-top: 75px">
                                <div class="field">
                                {{ form_start(formAteliers) }}
                                    Thème de l'atelier : {{ form_row(formAteliers.themeAtelier) }}<br>
                                    Nombre de séances :  {{ form_row(formAteliers.nbSeances) }}<br>
                                    Nombre de participants au total :  {{ form_row(formAteliers.nbPersonnesTotal) }}<br>
                                    <button type="submit" class="btn bgbleu">Valider l'atelier</button>
                                    {{ form_end(formAteliers) }}
                                    <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                                </div>
                        </div>
                    </div>

                                <div class="column is-6">
                                    <div class="box" style="height: 450px; overflow: scroll">
                                        <h2 style="margin-bottom: 20px"> Vos ateliers :</h2>
                                        {% if ateliers is not null %}
                                            {% for atelier in ateliers %}
                                                <div class="card" style="width:70%; margin: auto; padding: 20px; text-align:left">
                                            Theme : {{  atelier.themeAtelier }} <br> Nombre de Séances : {{  atelier.nbSeances }}
                                                <br> Nombre de participants total : {{ atelier.nbPersonnesTotal }}
                                                    <hr class="login-hr">
                                                    <a id="delete" onclick="confirmation()" href="{{ path('formulaire_atelier',{'idLieu': idLieu , 'idAtelier' : atelier.id} ) }}"><button class="btn btn-danger" style="margin-left: 15%">Retirer de la liste d'ateliers</button></a>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                </div>

                <br><a href="{{ path('formulaire_communication',{'idLieu': idLieu} ) }}"><button class="btn bgbleu" id="lien_precedent">Précedent</button></a>
                <a href="{{ path('formulaire_representation',{'idLieu': idLieu} ) }}"><button class="btn bgbleu" id="lien_suivant">Suivant</button></a>

            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aide</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <b> Le nombre de participants est extrêmement important pour chiffrer le nombre de personnes sensibilisé ; sans cela, l'atelier ne pourra pas être comptabilisé.</b> <br><br>
                            <i class="fa-regular fa-hand-point-right"></i> Ne sont comptabilisés que les ateliers organisés au tire de la CSF en tant que tel (UDAF et CTRC non inclus). <br>
                            <i class="fa-regular fa-hand-point-right"></i> Les interventions scolaires et réunissant des publics particuliers sont comptabilisés. En revanche, les formations pour des professionnels ne le sont pas tout comme les interventions de la CSF au nom d'une autre structure.  <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script>
        function confirmation() {
            var r = confirm("Êtes vous certain(e) de vouloir supprimer cet atelier ?");
            if (!r)
                event.preventDefault();
        }
    </script>

{% endblock %}

