{% extends 'base.html.twig' %}

{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body">


            <div class="container has-text-centered">

                <h1 class="title txtbleu">Ateliers</h1>
                <hr class="login-hr">
                <div class="row">
                    <div class="column is-6">
                        <div class="box" style="height: 450px; padding-top: 75px">
                                <div class="field">
                                {{ form_start(formAteliers) }}
                                    Thème de l'atelier : {{ form_row(formAteliers.themeAtelier) }}<br>
                                    Nombre de séances :  {{ form_row(formAteliers.nbSeances) }}<br>
                                    Nombre de participants au total :  {{ form_row(formAteliers.nbPersonnesTotal) }}<br>
                                    <button type="submit" class="btn bgbleu">Valider l'atelier</button>
                                    {{ form_end(formAteliers) }}
                                    <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                                </div>
                        </div>
                    </div>

                                <div class="column is-6">
                                    <div class="box" style="height: 450px; overflow: scroll">
                                        <h2 style="margin-bottom: 20px"> Vos ateliers :</h2>
                                        {% if ateliers is not null %}
                                            {% for atelier in ateliers %}
                                                <div class="card" style="width:70%; margin: auto; padding: 20px; text-align:left">
                                            Theme : {{  atelier.themeAtelier }} <br> Nombre de Séances : {{  atelier.nbSeances }}
                                                <br> Nombre de participants total : {{ atelier.nbPersonnesTotal }}
                                                    <hr class="login-hr">
                                                    <a id="delete" onclick="confirmation()" href="{{ path('formulaire_atelier',{'idLieu': idLieu , 'idAtelier' : atelier.id} ) }}"><button class="btn btn-danger" style="margin-left: 15%">Retirer de la liste d'ateliers</button></a>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                </div>

                <br><a href="{{ path('formulaire_communication',{'idLieu': idLieu} ) }}"><button class="btn bgbleu" id="lien_precedent">Précedent</button></a>
                <a href="{{ path('formulaire_representation',{'idLieu': idLieu} ) }}"><button class="btn bgbleu" id="lien_precedent">Suivant</button></a>

            </div>
        </div>
    </section>

    <script>
        function confirmation() {
            var r = confirm("Êtes vous certain(e) de vouloir supprimer cet atelier ?");
            if (!r)
                event.preventDefault();
        }
    </script>

{% endblock %}

