{% extends 'base.html.twig' %}

{% block couleur %}
    bgbrun
{% endblock %}

{% block body %}
        <div class="section">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box" style="height: 670px; overflow: scroll ">
                        <h1 class="title txtbrun">Communication</h1>
                        <hr class="login-hr">
                        <div class="field">
                            <form method='post' action='{{ path('formulaire_communication', {'idLieu': idLieu, 'state':'sub'}) }}'>
                            {% for com in Communication %}
                                <h4>{{ com.TypeCommunication.libelle }}</h4>
                                <div class="form-group">
                                <p>nombre : <input class="input is-rounded" type="number" name="{{ 'Nb' ~ com.TypeCommunication.id }}" value="{{ com.nombre }}" required></p>
                                <p>sujets :  <input class="input is-rounded" type="text" name="{{ 'Sujet' ~ com.TypeCommunication.id }}" value="{{ com.sujets }}" required></p><br>
                                </div>
                            {% endfor %}
                                <button type="submit" class="btn bgbrun">Suivant</button>
                            </form>
                            <a href="{{ path('formulaire_formation',{'idLieu': idLieu} ) }}"><button class="btn bgbrun" id="lien_precedent">Précedent</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}