{% extends 'base.html.twig' %}
{% block couleur %}
    bgorange
{% endblock %}

{% block body %}
<section class="section">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <h1 class="title txtorange">Formation</h1>
                    <hr class="login-hr">
                    <div class="field">
                        {{ form_start(formFormations) }}
                        Nombre de formations dans l'année : {{ form_row(formFormations.NbFormationsAnnee) }}<br>
                        Thème & nombre de participants à chaque formation :  {{ form_row(formFormations.ThemeFormationEtParticipants) }}<br>
                        <div class="row-12">
                            <span class=""row-6><a href="{{ path('formulaire_vieAssociative', {'idLieu': idLieu } ) }}"><button type="button" class="btn bgorange" id="lien_precedent">Précedent</button></a></span>
                            <span class=""row-6><button type="submit" class="btn bgorange">Suivant</button></span>
                        {{ form_end(formFormations) }}
                        <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</div>
{% endblock %}
