{% extends 'base.html.twig' %}

{% block couleur %}
    bgviolet
{% endblock %}

{% block body %}
     <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        <h1 class="title txtviolet">Permanences</h1>
                        <hr class="login-hr">
                        <div class="field">
                            {{ form_start(formPermanence) }}
                            Nombre de jours de permanence par an : {{ form_row(formPermanence.nbJours) }}<br>
                            Nombre d’heures de permanences par an :  {{ form_row(formPermanence.nbHeures) }}<br>
                            Nombre de dossiers consommation/ vie quotidienne simples :  {{ form_row(formPermanence.nbDossierSimple) }}<br>
                            Nombre de dossiers consommation/ vie quotidienne difficiles :  {{ form_row(formPermanence.nbDossierDifficile) }}<br>
                            <button type="submit" class="btn bgviolet">Suivant</button>
                            {{ form_end(formPermanence) }}
                            <a href="{{ path('formulaire_presentation',{'idLieu': idLieu} ) }}"><button class="btn bgviolet" id="lien_precedent">Précedent</button></a>
                            <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                        </div>
                </div>
                </div>
            </div>
        </div>
         </div>
     </section>
    </div>




{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script>
    type="text/javascript">
    function verif(evt) {
    var keyCode = evt.which ? evt.which : evt.keyCode;
    var accept = '0123456789';
    if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
    return true;
    } else {
    return false;
    }}

     onkeydown=verif(evt) </script>
{% endblock %}