{% extends 'base.html.twig' %}

{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}

<section class="section">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <h1 class="title txtbleu">Présentations</h1>
                    <hr class="login-hr">
                    <div class="field">
                        {{ form_start(formPresentation) }}
                        UD : {{ form_row(formPresentation.UD) }}<br>
                        Echelle : {{ form_row(formPresentation.echelle) }}
                        Section : {{ form_row(formPresentation.nom) }}<br>
                        Adresse : {{ form_row(formPresentation.adresse) }}<br>
                        Jours & horaires d'ouverture : {{ form_row(formPresentation.joursEtHorairesOuverture) }}<br>
                        <button type="submit" class="btn bgbleu">Suivant</button>
                        {{ form_end(formPresentation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}