{% extends 'base.html.twig' %}

{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}
<body>
<section class="section">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <h1 class="title txtbleu">Présentations</h1>
                    <hr class="login-hr">
                    <div class="field">
                        {{ form_start(formPresentation) }}
                        <i data-bs-toggle="tooltip" data-bs-placement="top" title="Veuillez indiquer le département à laquelle votre section est rattaché" class="fa-solid fa-circle-question "></i> UD : {{ form_row(formPresentation.UD) }}<br>

                        <i class="fa-solid fa-circle-question " data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"></i> Echelle : {{ form_row(formPresentation.echelle) }}
                        <i class="fa-solid fa-circle-question "></i>Section : {{ form_row(formPresentation.nom) }}<br>
                        <i class="fa-solid fa-circle-question "></i>Adresse : {{ form_row(formPresentation.adresse) }}<br>
                       Jours & horaires d'ouverture : {{ form_row(formPresentation.joursEtHorairesOuverture) }}<br>

                        <button type="submit" class="btn bgbleu">Suivant</button>
                        {{ form_end(formPresentation) }}
                    </div>
                    <button type="button" data-bs-toggle="popover" title="Popover title" data-bs-content="Here's some amazing content.">Click to toggle popover</button>
                    <script>
                        $(document).ready(function(){
                            $('[data-bs-toggle="popover"]').popover();
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script>
        type="text/javascript">
            function verif(evt) {
                var keyCode = evt.which ? evt.which : evt.keyCode;
                var accept = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
                    return true;
                } else {
                    return false;
                }}

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>

    </script>
{% endblock %}