{% extends 'base.html.twig' %}

{% block navbar %}
    <div class="container" style="top: 0">
        <nav class="navbar navbar-light bgbleu">
            <div class="container-fluid">
                <a class="navbar-brand"></a>
                <form class="d-flex">
                    <a href="{{ path('faq') }}"><button class="btn bgvertmenthe btn-default me-1" type="button" id="btnaide">Aide</button></a>
                    <button class="btn bggris" type="button"><a href="{{ path('app_logout') }}" class="bggris">Se déconnecter</a></button>
                </form>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}
<body>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <h1 class="title txtbleu">Présentations</h1>
                    <hr class="login-hr">
                    <div class="field">
                        {{ form_start(formPresentation) }}
                        UD : {{ form_row(formPresentation.UD) }}<br>
                        Section : {{ form_row(formPresentation.nom) }}<br>
                        Adresse : {{ form_row(formPresentation.adresse) }}<br>
                        Jours & horaires d'ouverture : {{ form_row(formPresentation.joursEtHorairesOuverture) }}<br>
                        <button type="submit" class="btn bgbleu">Suivant</button>
                        {{ form_end(formPresentation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
{% endblock %}