{% extends 'base.html.twig' %}

{% block couleur %}
    bgorange
{% endblock %}

{% block body %}
     <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        <h1 class="title txtorange">Représentations</h1>
                        <hr class="login-hr">
                        <div class="field">
                            <p>Liste à joindre de toutes les représentations assurée par votre UD (que ce soit au titre de l’UDAF, de France Assos Santé, du CTRC ou de La CSF directement)(joindre compte rendus ou, à défaut, convocation)(y compris les commissions de surendettement, les réunions avec les opérateurs type La Poste, Orange, Engie, GRDF, ERDF, les conseils citoyens, les CRUQPC, commissions taxis, les CCSPL, les ARS…) :</p>

                            <hr class="login-hr">
                            <br>
                            <form method='post' action='{{ path('formulaire_representation', {'idLieu': idLieu, 'state':'sub'}) }}'>

                                {% for rep in Representation %}

                                    <div class="form-group">

                                        <div class="row">

                                            <h2 class="col-sm">{{ rep.Categorie .libelle }} : </h2>

                                        <input class="form-control is-rounded col-sm" style="width: 5%; height: 100%" type="number" name="{{ 'frequence' ~ rep.Categorie.id }}" value="{{ rep.frequence }}" required>

                                            <div class="col-sm"> par an </div>

                                        </div>
                                    </div>
                                        <br><br>

                                {% endfor %}

                                <button type="submit" class="btn bgorange">Suivant</button>
                            </form>
                            <a href="{{ path('formulaire_atelier',{'idLieu': idLieu} ) }}"><button class="btn bgorange" id="lien_precedent">Précedent</button></a>
                            <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                        </div>
                </div>
                </div>
            </div>
        </div>
         </div>
     </section>
    </div>




{% endblock %}
