{% extends 'base.html.twig' %}

{% block couleur %}
    bgviolet
{% endblock %}

{% block body %}
    <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box" style="max-height: 500px; overflow: scroll ">
                        <h1 class="title txtviolet">Typologie des dossiers</h1>
                        <p class="blockquote-footer txtviolet">Nombre de dossiers en détail</p>
                        <hr class="login-hr">
                        <div class="field">
                            <form method='post' action='{{ path('formulaire_typologieDossier', {'idLieu': idLieu, 'state':'sub'}) }}'>
                                {% for dos in Dossier %}
                                <h4>{{ dos.TypologieDossier.libelle }}</h4>
                                <div class="form-group">
                                    <p><input class="input is-rounded" type="number" name="{{ 'Nb' ~ dos.TypologieDossier.id }}" value="{{ dos.nbDossiers }}" required></p>
                                </div>
                                {% endfor %}
                                <div class="row-12">
                                    <span class=""row-6><a href="{{ path('formulaire_permanence',{'idLieu': idLieu} ) }}"><button type="button" class="btn bgviolet" id="lien_precedent">Précedent</button></a></span>
                                    <span class=""row-6><button type="submit" class="btn bgviolet">Suivant</button></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}