{% extends 'base.html.twig' %}

{% block couleur %}
    bgviolet
{% endblock %}

{% block body %}
    <body>
    <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <div class="box">
                        <h1 class="title txtviolet">Vie Associative</h1>
                        <div class="field">
                            {{ form_start(formVieAssociative) }}
                            Nombre de salariés : {{ form_row(formVieAssociative.nbSalaries) }}<br>
                            Nombre de bénévoles :  {{ form_row(formVieAssociative.nbBenevole) }}<br>
                            Nombre de consommateurs renseignés par téléphone :  {{ form_row(formVieAssociative.NbConsomRensTel) }}<br>
                            Action/activité vie quotidienne / conso significative de l'UD que vous souhaitez valoriser. Merci de préciser les sujets :
                            {{ form_row(formVieAssociative.evenement) }}<br>
                            <button type="submit" class="btn bgviolet">Suivant</button>
                            {{ form_end(formVieAssociative) }}
                            <a href="{{ path('formulaire_typologieDossier',{'idLieu': idLieu} ) }}"><button class="btn bgviolet" id="lien_precedent">Précedent</button></a>
                            <style>#lien_precedent {text-decoration: none; color: #FFFFFF;font-family: 'Recursive', sans-serif}</style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}

