{% extends 'base.html.twig' %}
{% block couleur %}
    bgbleu
{% endblock %}

{% block body %}

    <style>
        .detailBtn {
            color: #9b9b9b;
        }

        .detailBtn:hover {
            color: #000000;
            transition: 300ms;
        }
    </style>


    <section class="section">
        <div class="hero-body">
            <div class="container has-text-centered">
                    <div class="box overflow-scroll" style="max-height: 70vh;">

                        {% if National is not null %}
                        <div class="container" style="border: solid #000000; padding: 10px; background-color: #afafaf">
                                <div class="row">
                                <div class="col fw-bold" ><a href="{{ path('gestion_formulaire_recap',{'idLieu':National.id}) }}" target="_blank" >Dossier Consommation Confédéral</a> : </div>
                                <div class="col fw-bold"><a href="{{ path('gestion_formulaire_horairesPDF') }}">Detail_Horaires_Ouverture_Sections</a></div>
                                <div class="col fw-bold text-end"><a href="{{ path('gestion_formulaire_detailBilanPdf', {'id': National.id })  }}">Recapitulatif_dossier_conso_National.pdf</a></div>
                                </div>
                            </div>
                        <br>
                            {% for UD in UDs %}
                                <div class="container" style="border: solid #464646; padding: 10px ; background-color: #d3d3d3">
                                <div class="row">
                                <div class="col fw-bold"><a href="{{ path('gestion_formulaire_recap',{'idLieu':UD.id}) }}" target="_blank" >{{ UD.echelle.libelle }} {{ UD.nom }}</a> : </div>
                                    <div class="col fw-bold detailBtn" onclick="change({{'sections' ~ UD.nom }})">Cliquer pour afficher/cacher le détail de l'UD</div>
                                <div class="col fw-bold text-end"><a href="{{ path('gestion_formulaire_detailBilanPdf', {'id': UD.id })  }}">Recapitulatif_dossier_conso_{{ UD.echelle.libelle }}_{{ UD.nom }}.pdf</a></div>
                                </div>
                                </div>
                        <div class="container"  id="{{'sections' ~ UD.nom}}" style="border: solid #464646; border-top: none ; padding: 10px; display: none;">
                            {% for Section in Sections %}
                                    {% if Section.ud is same as UD.ud %}
                                <div class="row">
                                    <div class="col fw-bold"><a href="{{ path('gestion_formulaire_recap',{'idLieu':UD.id}) }}" target="_blank" >{{ Section.echelle.libelle }} {{ Section.nom }}</a> : </div>
                                    <div class="col fw-bold"><a style="color: #4aa482; " href="{{ path('formulaire_presentation',{'idLieu':Section.id}) }}" target="_blank">modifier la section</a></div>
                                    <div class="col fw-bold text-end"><a href="{{ path('gestion_formulaire_detailBilanPdf', {'id': Section.id })  }}">Recapitulatif_dossier_conso_{{ Section.echelle.libelle }}_{{ Section.nom }}.pdf</a></div>
                                </div>
                                    {% endif %}
                            {% endfor %}
                        </div>
                                <br>
                            {% endfor %}
                            {% endif %}

                        {% if National is null %}
                            <div class="container" style="border: solid #000000; padding: 10px; background-color: #b7b7b7">
                                <div class="row">
                                    <div class="col fw-bold" >Dossier Consommation Confédéral : </div>
                                    <div class="col fw-bold">Detail_Horaires_Ouverture_Sections</div>
                                    <div class="col fw-bold text-end">Recapitulatif_dossier_conso_National.pdf</div>
                                </div>
                                <hr class="login-hr">

                                <div class="row">
                                    <div class="col fw-bold" >Dossier Consommation UD X : </div>
                                    <div class="col fw-bold"></div>
                                    <div class="col fw-bold text-end">Recapitulatif_dossier_conso_UD.pdf</div>
                                </div>
                                <hr class="login-hr">

                                <div class="row">
                                    <div class="col fw-bold" >Dossier Consommation Section X : </div>
                                    <div class="col fw-bold"></div>
                                    <div class="col fw-bold text-end">Recapitulatif_dossier_conso_Section_X.pdf</div>
                                </div>
                            </div>
                            <br>
                            <h4>Votre bilan Confédéral apparaîtra ici dès lors qu'un bilan sera complété</h4>
                        {% endif %}

                    </div>
                <button class="btn bgbleu"><a style="text-decoration: none; color:white" href="{{ path('home') }}">retour au formulaire</a></button>
            </div>
        </div>
    </section>




    <script>


        function change(nom) {

            if (nom.style.display === 'none') {
                nom.style.display = "block";
            }
            else{
                nom.style.display = "none";
            }
        }
    </script>

{% endblock %}

